html,
body {
    background-color: rgba(215, 219, 219, 0.623) !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

header {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgba(67, 77, 74, 0.623) !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(30, 34, 33, 0.623) !important;
}
